
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

header {
	background: url(http://school-project.localhost:8000/img/header.jpg);
	height: 670px;
	padding: 20px;

	.header-content {
		display: block;
		margin: 0 auto;

		.info {
			margin-top: 20px;
			text-align: center;
			font-size: 28px;
			color: white;
   			text-shadow: 2px 2px 2px black;
		}
	}

	img {
		display: block;
		margin: 0 auto;
	}
}
.jumbotron {
	border-bottom: 5px solid #ccc;
}

.btn-simple {
	border: 1px solid black;
	color: black;

	&:hover {
		color: black;
		border-color: #444;
	}
}

footer {
	text-align: center;
    height: 54px;
    background: #eee;
    border-top: 5px solid #ccc;
    padding: 10px;
}

.navbar-theme {
	margin-bottom: 50px;

	.navbar-nav > li > a:not(.btn) {
		color: #fff;
		margin: 0px 5px;
		font-weight: bold;
		text-shadow: 2px 2px 2px black;
	}
}

.heading-1 {
	display: inline-block;
	border-bottom: 5px solid #222;
	padding-bottom: 5px;
	margin: 20px 0;

	span {
		float:right;
		display: block;
	}
}

.recipe {
	margin-top: 15px;
	border-top: 5px solid #ccc;
	padding-top: 20px;
}

body {

}

.content {
	background: #fff;
	padding: 30px;
	border: 5px solid #ccc;
	margin-top: 50px;
}

.card {
	border-bottom: 5px solid rgba(0, 0, 0, 0.65);
	border-radius: 0;
	border-color: #ccc;
	margin-bottom: 20px;

	.card-title {
		padding: 10px 20px;
    	background: #ccc;

    	a {
    		color: #222;
    	}
	}

	.card-body {

		iframe {
			width: 400px;
		}
	}
}